$border-radius: 4px; //设置圆角
$primary: #409EFF; // 各种颜色
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;
$primary-hover: #66b1ff; // 鼠标移入的颜色
$success-hover: #85ce61;
$warning-hover: #ebb563;
$danger-hover: #f78989;
$info-hover: #a6a9ad;
$primary-active: #3a8ee6; // 激活的颜色
$success-active: #5daf34;
$warning-active: #cf9236;
$danger-active: #dd6161;
$info-active: #82848a;
* {
  // 清除默认样式
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// 旋转动画
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation: spin 2s infinite linear;
}

// input样式
$animation-duration: 500ms;
$border-color: #ebeef5;
$border-hover-color: #66b1ff;
$border-radius: 4px;
$color-danger: #d2181c;
$color-info: #909399;
$color-primary: #409eff;
$color-success: #67c23a;
$color-warning: #f34711;
$color: #ffffff;
$font-family: PingFangSC-Regular;
$font-size: 14px;
$input-height: 32px;
$red-hover-color: #e94043;
$min-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.75);